<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="resources :: head"></div>
	<title>Uni Departments</title>
</head>

<body>
	<div class="container">
		<h1>University Departments</h1>
		<hr>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Department</th >
					<th scope="col">Address</th>
					<th scope="col">Phone Number</th>
					<th scope="col">Email Address</th>
					<th scope="col">Website</th>
					<th scope="col">Head of Department</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="department : ${departments}">
					<td th:text="${department.name}" class="border"></td>
					<td th:text="${department.address}" class="border"></td>  
					<td th:text="${department.phone}" class="border"></td>   
					<td th:text="${department.email}" class="border"></td>
					<td th:text="${department.website}" class="border"></td>
					<td th:text="${department.headOfDepartment}" class="border"></td>
					<td><a class="btn btn-primary" th:href="@{|/department/${department.id}|}">Degrees</a></td>
				</tr>
			</tbody>
		</table>
		<div th:replace="resources :: scripts"></div>
	</div>
</body>
</html>