<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="resources :: head"></div>
	<title>Uni Departments</title>
</head>

<body>
	<div class="container">
		<h1>University Departments</h1>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Department</th >
					<th scope="col">Address</th>
					<th scope="col">Phone Number</th>
					<th scope="col">Email Address</th>
					<th scope="col">Website</th>
					<th scope="col">Head of Department</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="department : ${departments}">
					<td th:text="${department.name}"></td>
					<td th:text="${department.address}"></td>  
					<td th:text="${department.phone}"></td>   
					<td th:text="${department.email}"></td>
					<td th:text="${department.website}"></td>
					<td th:text="${department.headOfDepartment}"></td>
				</tr>
			</tbody>
		</table>
		<div th:replace="resources :: scripts"></div>
	</div>
</body>
</html>